.footer {
    background: #28302E;
    color: #fff;


    &__bottom {
        padding: 20px 0 22px;


    }

    &__btn {
        padding: 10px 25px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border: 1px solid #fff;
        transition: all 0.3s;

        &:hover,
        &:focus {
            transition: all 0.3s;
            color: #000;
            background-color: #fff;

        }
    }

    &__bottom-copy {
        font-size: 10px;
        line-height: 12px;

        margin-bottom: 5px;

        &:last-child {
            margin-top: 20px;
        }
    }

    &__top-title {
        font-weight: 700;
        margin-bottom: 7px;
        font-size: 14px;
        line-height: 16px;
        color: #faa72b;
    }

    &__top {
        padding-top: 43px;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
    }







    &__top-item~&__top-item {
        // flex-basis: 250px;
        margin-left: 10px;
    }

    &-list {
        font-size: 14px;
        line-height: 22px;
    }

    &__number {
        font-size: 22px;
        font-weight: 500;
    }

    &__mail {
        display: block;
        text-decoration: underline;
        margin-bottom: 25px;
    }


}

.footer__top--img__yandex {
    cursor: pointer;
}

.footer__top--losts {
    margin-bottom: 20px;
}

.footer__top--list {
    margin-bottom: 10px;
}


.social-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;


}

.social-link {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    transition: all 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 15px;


    &:hover,
    &:focus {
        transition: all 0.3s;
        color: #000;
        background-color: #fff;

    }
}


.link-inst {
    &::after {
        font-family: 'icomoon' !important;
        content: "\ea92";
        position: absolute;

        top: 8px;
        left: 8px;


    }
}


.link-fb {
    &::after {
        font-family: 'icomoon' !important;
        content: "\ea90";
        position: absolute;

        top: 8px;
        left: 8px;


    }
}

.link-vk {
    &::after {
        font-family: 'icomoon' !important;
        content: "\ea98";
        position: absolute;
        top: 8px;
        left: 8px;


    }
}

.link-pinter {
    &::after {
        font-family: 'icomoon' !important;

        position: absolute;
        content: "\ead2";
        top: 8px;
        left: 8px;


    }
}

.link-youtube {
    &::after {
        font-family: 'icomoon' !important;

        position: absolute;
        content: "\ea9d";
        top: 8px;
        left: 8px;


    }
}

.link-telg {
    &::after {
        font-family: 'icomoon' !important;

        position: absolute;
        content: "\ea95";
        top: 8px;
        left: 8px;


    }
}


// end .footer block