.forms {
    margin-bottom: 25px;
    background-color: #fafafa;
    padding: 10px;


}


.form {
    &__content-form {
        display: flex;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__input {
        background-color: #fff;
        border-radius: 3px;
        padding: 5px 20px;
        // border: none;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        outline: none;
        margin-right: 25px;

        &::placeholder {
            color: #656464;

        }
    }

    &__btn {
        background-color: #03a9f4;
        padding: 0 25px;
        width: 460px;
        text-align: center;
        color: #fff;
        font-size: 16px;
    }
}

// end .form block