.header {
    padding-top: 100px;

    &__wrapper {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background-color: #fff;
        z-index: 10;
    }



    &__top--inner {
        line-height: 28px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__top--map {
        padding-left: 20px;
        position: relative;

        &::after {
            font-family: 'icomoon' !important;
            content: "\e947";
            position: absolute;
            top: 0;
            left: 2px;
            font-size: 14px;
        }
    }

    &__top--menu__list {


        li~li {
            padding-left: 20px;


        }
    }

    &__top--users {
        li~li {
            padding-left: 20px;


        }
    }



}



.phone__number {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3px;
}


.phone__link {

    padding-right: 11px;
    padding-left: 18px;
}


.mail-icon {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e945";
        position: absolute;
        top: 0;
        left: 2px;
    }
}

.phone-icon {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e958";
        position: absolute;
        top: 0;
        left: 2px;
    }
}


.navigg__list {
    color: #fff;

    li a {
        margin-left: 20px;
        width: 40px;
        height: 40px;
        background-color: #000;

        border-radius: 50px;


    }
}

.icon-sorh {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e986";
        position: absolute;
        top: 12px;
        left: 32px
    }
}

.icon-tg {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\ea95";
        position: absolute;
        top: 12px;
        left: 32px
    }
}

.icon-wh {
    position: relative;


    &::after {
        font-family: 'icomoon' !important;
        content: "\e958";
        position: absolute;
        top: 12px;
        left: 32px;
    }
}

.icon-inst {
    position: relative;

    &::after {
        font-family: 'icomoon' !important;
        content: "\e93a";
        position: absolute;
        top: 12px;
        left: 32px
    }
}

.navigg_cart {
    padding-left: 20px;
}