.product__tabs {
    margin-bottom: 25px;
}

.product__tabs-item.tab--active {
    background: #f0f0f4;
    border-radius: 5px;
    font-weight: 700;
    font-family: "SFProDisplay-Bold", sans-serif;
}

.product__tabs-item {
    padding: 11px 26px 12px;
}


.tabs-contant {
    display: none;
}

.tabs-contant--active {
    display: block;
}